.seatRow {
  margin-bottom: 5px;
}

.seat {
  /* display: inline-block; */
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  border: 1px solid gainsboro;
}

.seatAlphabet {
  padding: 0;
}

.seatAvailable {
  background-color: #d6d8e7;
}

.selectedSeat {
  background-color: #5f2eea;
}

.soldSeat {
  background-color: #6e7191;
  pointer-events: none;
}

@media (max-width: 576px) {
  .seat {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .seat {
    width: 13px;
    height: 13px;
  }
  .seatAlphabet {
    font-size: 0.5em;
    font-weight: 700;
  }
}
