h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-top: 34px;
  margin-bottom: 4px;
}

.mainWrapper {
  padding: 72px 70px;
  background-color: #f5f6f8;
}

.wrapper {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 7% 5%;
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
}

.wrapperInfo {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 40px 40px;
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
}

.wrapperInfo hr {
  border-width: 1.2px;
  border-color: #dedede;
}

.profileNavigation {
  height: 84px;
  padding: 0 5%;
}

.profileNavigation a {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #14142b;
  position: relative;
  height: 100%;
}

.menuBorder {
  height: 4px;
  width: 100%;
  background-color: #5f2eea;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: width 0.1s ease-in-out;
}

.activeBorder {
  height: 4px;
  width: 100%;
  background-color: #5f2eea;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: width 0.1s ease-in-out;
}

.profileNavigation div a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #5f2eea;
}

.meatballsMenu {
  cursor: pointer;
}

.meatballsMenu .ball {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #5f2eea;
}

.meatballsMenu .ball:nth-child(2) {
  margin: 0 5px;
}

.userProfilePictureWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin-top: 32px;
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
}

.userPicture {
  object-fit: cover;
  border-radius: 50%;
}

.userProfilePictureWrapper svg {
  /* color: #5f2eea; */
  height: 100px;
}

.edit,
.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.edit {
  background-color: rgba(198, 184, 236, 0.475) !important;
  border-color: rgba(198, 184, 236, 0.475) !important;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.edit svg {
  height: fit-content;
}

.userProfilePictureWrapper:hover .edit {
  background-color: #5f2eea !important;
  border-color: #5f2eea !important;
  color: #f5f6f8 !important;
}

input[type="file"] {
  display: none;
}

.userTitle {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.signOutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 16px;
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
}

.signOutButton svg {
  height: 14px;
  margin-right: 10px;
}

.phoneCodeRegion {
  background-color: #ffffff;
  border-radius: 16px 0 0 16px;
}

.phoneInput {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.updateChangesButton {
  /* margin: 0 5%; */
  width: 100%;
  height: 56px;
  border-radius: 16px;
}

.imageUpload input {
  border-radius: 1px !important;
}

.alertConfirmPassword {
  font-size: 12px;
  font-weight: bold;
}

.toastSuccess svg {
  height: 20px;
  margin-right: 5px;
}

.verified {
  color: rgb(14, 53, 14);
  background-color: rgb(202, 255, 202) !important;
}
.unverified {
  color: rgb(53, 14, 14);
  background-color: rgb(255, 202, 202) !important;
}

.redBorder {
  box-shadow: 0 0 0 1px #ea2e2e;
  transition: all 0.2s ease-in-out;
}

.hide {
  color: #ea2e2e00;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  transition: color 0.2s ease-in-out;
}

.show {
  color: #ea2e2e;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  transition: color 0.2s ease-in-out;
}

@media (max-width: 576px) {
  .updateChangesButton {
    font-size: 12px !important;
  }
  .mainWrapper {
    padding: 72px 5%;
  }
}
