.forgotPassword,
.orBorder,
.formTitle,
h2 {
  font-family: "Inter", sans-serif;
}

button,
.formLabel,
.formInput {
  font-family: "Mulish", sans-serif;
}

button {
  font-size: 16px !important;
}

.formTitle {
  color: #121212;
  font-size: 26px;
  margin-bottom: 0;
}

.formTitle,
h2 {
  letter-spacing: 0.003em;
}

form {
  margin-top: 49px;
}

.formSection {
  padding: 83px;
}

.inputEmailGroup {
  margin-top: 25px;
  margin-bottom: 25px;
}

.inputPasswordGroup {
  margin-bottom: 48px;
}

.forgotPassword {
  color: #8692a6;
  margin-top: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.btnFacebook,
.btnGoogle {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 10% 5%;
}

.btnFacebook,
.btnGoogle,
.forgotPassword {
  letter-spacing: 0.005em;
}

.btnFacebook,
.btnGoogle,
.formInput {
  color: #a0a3bd;
}

button,
.formInput {
  height: 64px !important;
  border-radius: 16px !important;
}

.btnJoin,
.formInput {
  letter-spacing: 0.75px;
}

/* === */
.leftBanner {
  background-image: url(../../../assets//img/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 112px;
  position: relative;
  z-index: -2;
}

.leftBanner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(43, 21, 107, 0.8);
  z-index: -99;
}

.leftBanner .uviesLogo,
.leftBanner h2 {
  z-index: 99;
}

.leftBanner .uviesLogo {
  height: 104px;
  width: 276px;
}

.leftBanner h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  margin-top: 101px;
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.003em;
}

.leftBanner p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 68px;
}

.leftBanner .stepList {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.leftBanner .stepList span {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5%;
  color: #ffffff;
}

.leftBanner .stepNumber {
  height: 50px;
  width: 50px;
  margin-right: 42px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeStep {
  color: rgba(41, 3, 65, 0.5) !important;
  background-color: #ffffff;
}

.orBorder {
  color: #aaa;
}

.formLabel {
  color: #4e4b66;
  margin-bottom: 12px;
}

.formLabel,
.formInput {
  font-size: 16px;
}

.btnFacebook,
.btnGoogle {
  font-size: 18px;
}

.btnFacebook,
.btnGoogle,
.signIn,
.formTitle {
  font-weight: 600;
}

.orBorder::after,
.orBorder::before {
  content: "";
  height: 0.5px;
  width: 100%;
  background-color: #dedede;
}

.orBorder::before {
  margin-right: 37px;
}

.orBorder::after {
  margin-left: 37px;
}

.socialMediaLogin {
  margin-top: 48px;
}

.socialMediaLogin .btn {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.socialMediaLogin .btn:hover {
  background-color: #f0f0f0;
}

.iFacebook,
.iGoogle {
  margin-right: 10%;
}

.btnJoin {
  background-color: #5f2eea;
  font-weight: 700;
}

.signIn {
  color: #5f2eea;
  text-decoration: none !important;
}

.signIn:hover {
  color: #37139b;
}

/* input[type="checkbox"] {
  visibility: hidden;
} */

.test {
  background-color: rgba(255, 0, 0, 0.308);
  color: #ffffff;
}

.alertEmail {
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .leftBanner {
    display: none !important;
  }

  .brandForm {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .formSection {
    padding: 10%;
  }

  .iGoogle,
  .iFacebook {
    margin: 0;
  }

  .socialMediaLogin span {
    display: none;
  }
}

@media (min-width: 992px) {
  .brandForm {
    display: none;
  }
}
