.nowShowing h4 {
  position: relative;
  display: flex;
  justify-content: center;
}

.nowShowing h4, 
.btnViewAll {
  font-weight: 700;
}

.btnViewAll {
  color: #5f2eea
}

.nowShowing h4::after {
  content: "";
  width: 100px;
  height: 3px;
  border-radius: 50px;
  background-color: #5f2eea;
  display: block;
  position: absolute;
  bottom: -16px;
  margin: 0 auto;
}

.nowShowingList {
  margin-top: 72px;
}

.nowShowingList::-webkit-scrollbar {
  display: none;
}
