.menu {
  font-weight: 600;
  margin-right: 24px;
  color: #414141;
}

.menu:hover {
  text-decoration: none;
  color: #1a1a1a;
}

@media (max-width: 992px) {
  .menu {
    margin-bottom: 12px;
  }
}

@media (min-width: 1366px) {
  .menu {
    margin-right: 56px;
  }
}
