.searchGroup {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: relative;
}

.searchInput {
  height: 100% !important;
}

.searchInput,
.searchResult,
.btnSearch {
  border-radius: 8px !important;
}

.btnSearch {
  background-color: transparent !important;
  border: 1px solid #ced4da !important;
}

.searchResult {
  border: 1px solid #ced4da;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  max-height: 300px;
  top: 50px;
  z-index: 99;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #5f2eea #f5f5f5;
}
.searchResult::-webkit-scrollbar {
  width: 5px !important;
}
.searchResult::-webkit-scrollbar-track {
  background: rgb(245, 245, 245);
  border-radius: 8px;
}
.searchResult::-webkit-scrollbar-thumb {
  background: #5f2eea;
  border-radius: 8px;
}

.searchResult .list {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.searchResult .list:hover {
  color: #5f2eea;
}

.loading {
  /* position: absolute; */
  /* left: 185px; */
  height: 1.4em;
}

@media (min-width: 992px) {
  .searchGroup {
    margin: 0 20px 0 15px;
    width: fit-content;
  }

  .searchInput {
    display: none;
  }

  .btnSearch {
    border: none !important;
  }

  .show {
    display: inline-block;
    animation: showss 0.5s ease-in-out forwards;
  }

  @keyframes showss {
    0% {
      width: 0;
    }
    100% {
      width: 300px !important;
    }
  }
}
