.container {
  font-size: 62.5%;
}

.forgotPassword,
.orBorder,
.signIn,
.signInMessage,
h2 {
  font-family: "Inter", sans-serif;
}

button,
.formLabel,
.formInput {
  font-family: "Mulish", sans-serif;
}

button {
  font-size: 16px !important;
}

.signIn {
  color: #121212;
  font-size: 48px;
  margin-bottom: 0;
}

.signIn,
h2 {
  letter-spacing: 0.003em;
}

.signInMessage {
  letter-spacing: 0.007em;
  margin-bottom: 0;
  margin-top: 12px;
}

.signInSection form {
  margin-top: 49px;
}

.signInSection {
  padding: 83px;
}

.inputEmailGroup {
  margin-bottom: 25px;
}

.inputPasswordGroup {
  margin-bottom: 48px;
}

.forgotPassword,
.register {
  color: #8692a6;
  text-align: center;
  font-size: 1.6em;
}

.forgotPassword {
  margin-top: 32px;
}

.register {
  margin-top: 8px;
  margin-bottom: 40px;
}

.btnFacebook,
.btnGoogle {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 10% 5%;
}

.btnFacebook,
.btnGoogle,
.forgotPassword {
  letter-spacing: 0.005em;
}

.btnFacebook,
.btnGoogle,
.formInput {
  color: #a0a3bd;
}

.btnSignIn,
.formInput {
  height: 64px !important;
  border-radius: 16px !important;
  letter-spacing: 0.75px;
}

/* === */
.leftBanner {
  background-image: url(../../../assets//img/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.leftBanner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(43, 21, 107, 0.8);
  z-index: -99;
}

.leftBanner .uviesLogo,
.leftBanner h2 {
  z-index: 99;
}

.uviesLogo {
  height: 10em;
  margin-bottom: 20px;
}
.uviesLogo,
.brandForm {
  cursor: pointer;
}

.leftBanner h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3.5em;
  font-weight: 400;
}

.orBorder {
  font-size: 1.4em;
}

.orBorder,
.signInMessage {
  color: #aaa;
}

.formLabel {
  color: #4e4b66;
  margin-bottom: 12px;
}

.formLabel,
.formInput {
  font-size: 16px;
}

.btnFacebook,
.btnGoogle,
.signInMessage {
  font-size: 18px;
}

.btnFacebook,
.btnGoogle,
.reset,
.signIn {
  font-weight: 600;
}

.registerAccount {
  font-weight: 700;
}

.orBorder::after,
.orBorder::before {
  content: "";
  height: 0.5px;
  width: 100%;
  background-color: #dedede;
}

.orBorder::before {
  margin-right: 37px;
}

.orBorder::after {
  margin-left: 37px;
}

.socialMediaLogin {
  margin-top: 48px;
}

.socialMediaLogin .btn {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.socialMediaLogin .btn:hover {
  background-color: #f0f0f0;
}

.iFacebook,
.iGoogle {
  margin-right: 10%;
}

.btnSignIn {
  background-color: #5f2eea;
  font-weight: 700;
}

.reset,
.registerAccount {
  color: #5f2eea;
  text-decoration: none !important;
}

.reset:hover,
.registerAccount:hover {
  color: #37139b;
}

.alert {
  font-size: 1.6em;
  font-weight: 600;
  transform: scaleY(0);
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.show {
  position: relative;
  transform: scaleY(1);
}

@media (max-width: 992px) {
  .leftBanner {
    display: none !important;
  }

  .brandForm {
    margin-bottom: 40px;
    height: 3em;
  }

  .signInMessage {
    margin-bottom: 49px;
  }
}

@media (max-width: 576px) {
  .brandForm {
    height: 2em;
  }

  .btnSignIn {
    font-size: 1.4em !important;
  }

  .formLabel,
  .formInput,
  .signInMessage,
  .forgotPassword,
  .register {
    font-size: 1.4em;
  }

  .signIn {
    font-size: 2.6em;
  }

  .signInSection {
    padding: 10%;
  }

  .iGoogle,
  .iFacebook {
    margin: 0;
  }

  .orBorder {
    font-size: 1.2em;
  }

  .socialMediaLogin span {
    display: none;
  }
}

@media (min-width: 992px) {
  .brandForm {
    display: none;
  }
}
