.container {
  background-color: #f5f6f8;
  font-size: 62.5%;
  padding: 10em 10%;
}

.container h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin-bottom: 24px;
}

.contentWrapper {
  background-color: #ffffff;
  border-radius: 16px;
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
  padding: 2em;
}

.filter button,
.actionBtn {
  border-radius: 12px;
}

.actionBtn {
  padding: 0.9em 0;
  font-weight: 700;
}

.actionBtn:last-child {
  background-color: #ffffff !important;
  color: #5f2eea !important;
}

.filter button,
.actionBtn {
  font-size: 1.3em !important;
}

.filter button {
  align-items: center;
  border-color: #4e4b66 !important;
  color: #4e4b66 !important;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  overflow: hidden;
}

.filter div {
  width: 103%;
  max-height: 300px;
  overflow: auto;
  margin-top: 5px !important;
  border-radius: 12px;
  border-color: #5f2eea;
  scrollbar-width: thin;
  scrollbar-color: #5f2eea #f5f5f5;
}
.filter div::-webkit-scrollbar {
  width: 5px !important;
}
.filter div::-webkit-scrollbar-track {
  background: rgb(245, 245, 245);
  border-radius: 50%;
}
.filter div::-webkit-scrollbar-thumb {
  background: #5f2eea;
  border-radius: 12px;
}

.filter button,
.filter button:hover {
  background-color: #ffffff !important;
}

.filter button:focus {
  box-shadow: none !important;
}

.dropdownItem {
  white-space: normal;
}

.dropdownItem span {
  font-weight: 700;
}

@media (max-width: 576px) {
  .container {
    padding: 10em 5%;
  }

  .container h1 {
    font-size: 1.6em;
  }

  .filter button,
  .actionBtn {
    font-size: 1.2em !important;
  }
}
