.navigationBar {
  background-color: #ffffff !important;
  padding: 19px 70px;
}

.navigationBrand {
  width: 130px;
  margin-right: 36px;
  cursor: pointer;
}

.btnSignUp {
  height: 40px;
  width: 120px;
  border-radius: 8px;
}

.btnProfile,
.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userAvatar {
  object-fit: cover;
}

@media (max-width: 576px) {
  .navigationBar {
    padding-right: 5% !important;
    padding-left: 5% !important;
  }

  .btnSignUp {
    width: 100%;
  }
}

@media (min-width: 1366px) {
  .navbarBrand {
    margin-right: 72px;
  }
}
