.mainWrapper {
  margin-top: 37px;
  margin-right: 130px;
  margin-left: 130px;
}

.moviePoster {
  padding: 15%;
  border: 2px solid #dedede;
  border-radius: 24px;
}

.moviePoster img {
  border-radius: 16px;
}

.movieDescContainer .genre,
.movieDescContainer .synopsisDesc {
  color: #4e4b66;
}

.movieDescContainer,
.showtimesTicketContainer .titleHead {
  margin-bottom: 40px;
  letter-spacing: 0.75px;
}

.showtimesTicketContainer {
  margin-top: 150px;
  margin-bottom: 72px;
}

.dateAndPlacePicker button,
.dateAndPlacePicker input {
  width: 284px;
  border: 0;
  padding: 19px 24px;
  background: #eff0f6;
}

.dateAndPlacePicker button {
  border-radius: 16px;
  height: 100%;
}

.dateAndPlacePicker {
  margin-bottom: 72px;
}

.movieDescContainer h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.movieDescContainer h6 {
  color: #8692a6;
}

.movieDescContainer span {
  color: #121212;
}

.movieDetails .separator {
  content: "";
  border-bottom: 1px solid #dedede;
  margin: 3% 0;
}

.ticket {
  border-radius: 24px;
  box-shadow: 0 8px 16px rgba(186, 186, 186, 0.24);
  letter-spacing: 0.75px;
  height: 350px;
  padding: 30px;
}

.ticket button {
  border-radius: 12px;
}

.ticket .cinemaName {
  font-size: 20px;
  font-weight: 700;
}

.ticket .cinemaLocation,
.ticket .hourGroup {
  font-size: 12px;
  color: #6e7191;
}

.ticket .cinemaLogoContainer {
  padding: 0 5% 0 2%;
}

.ticket .cinemaLogoContainer img {
  width: 100%;
}

.ticket .cinemaInfoGroup {
  padding-left: 5%;
}

.ticket .cinemaLocation {
  font-weight: 300;
  font-size: 12px;
}

.separator {
  border: 0.5px solid #dedede;
  margin: 2% 0;
}

.ticket .hourGroup,
.ticket .priceGroup .price {
  font-weight: 700;
}

.ticket .hourGroup span:nth-child(4n) {
  text-align: end;
}

.ticket .hourGroup span:nth-child(4n + 2),
.ticket .hourGroup span:nth-child(4n + 3) {
  text-align: center;
}

.ticket .priceGroup {
  margin-top: 3%;
  margin-bottom: 5%;
}

.ticket .priceGroup p {
  color: #6b6b6b;
}

.ticket .hour {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.ticket .pickHour {
  font-size: 12px;
  font-weight: 700;
  color: #5f2eea;
  display: inline-block;
  margin-bottom: 10px;
}

.ticket .hour:hover {
  box-shadow: 0 0 0 1px #5f2eea;
}

.selected {
  box-shadow: 0 0 0 1px #5f2eea;
}

.viewMore {
  margin-top: 48px;
}

.viewMore a {
  letter-spacing: 0.75px;
  color: #5f2eea;
  font-size: 16px;
  font-weight: 600;
}

.toast svg {
  height: 20px;
  margin-right: 5px;
}

.emptyMessage {
  color: #8692a6;
  width: 40%;
  text-align: center;
}

@media (max-width: 576px) {
  .mainWrapper {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .movieDescContainer h1 {
    font-size: 20px;
  }

  .moviePoster {
    margin-bottom: 32px;
  }

  .ticket .cinemaInfoGroup {
    padding-left: 0;
  }

  .ticket .cinemaLogoContainer {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .ticket .cinemaLogoContainer img {
    text-align: center;
    width: 40%;
    padding: 0 !important;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .movieDescContainer {
    padding-left: 5%;
  }

  .movieDescContainer h1 {
    font-size: 32px;
  }
}
