input, select {
  height: 64px !important;
}

input,
textarea, select {
  border-radius: 16px !important;
}

textarea::-webkit-scrollbar {
  display: none;
}

.btn-primary,
.btn-outline-primary {
  border: 1px solid #5f2eea !important;
}

.btn-outline-primary {
  color: #5f2eea !important;
}

.btn-primary:hover {
  background-color: #4d1fcc !important;
}

.btn-outline-primary:hover,
.btn-primary {
  color: #fff !important;
  background-color: #5f2eea !important;
}
